@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&display=swap');

@layer base{
    body{
        @apply font-[Raleway]
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0, 0, 0, 0);
    }
    75% {
      transform: translateY(-20%);
      animation-timing-function: cubic-bezier(0, 0, 0, 0);
    }
  }